<div class="two-columns">
  <div>

    <%= image_tag 'roboclaus.png', alt: 'A Christmas themed robot', srcset: { 'roboclaus@2x.png' => '2x' } %>
  </div>

  <div class="pane">
    <h1>Hi, I'm Roboclaus</h1>
    <p>christmas christmas christmas</p>
  </div>
</div>
