<div class="landing two-columns">
  <div class="landing__image">
    <%= image_tag 'roboclaus.png', alt: 'A Christmas themed robot', srcset: { 'roboclaus@2x.png' => '2x' } %>
  </div>
  <div class="landing__content">
    <div class="pane">
      <h1>Hello, I'm Roboclaus!</h1>
      <p style="margin-bottom: 1rem;">
        I'm a friendly robot who's here to help you remotely organise a <%= link_to 'secret santa', 'https://en.wikipedia.org/wiki/Secret_Santa', target: '_blank' %>.
      </p>

      <div class="pane pane--compact pane--beige" style="margin-bottom: 2rem;">
        <h2>How it works</h2>
        <ol>
          <li>You tell me a bit about you, and how you want your secret santa to work</li>
          <li>You give me the emails of all the folks who are participating</li>
          <li>I'll email them and ask them to give me their home address</li>
          <li>When you're ready, I'll match everyone up, and let everyone know who they're sending a present to, including that person's address</li>
          <li>If someone's stuck for ideas, they can email a question to me and I'll pass it on anonymously to their recipient</li>
        </ol>
      </div>

      <%= link_to 'Get started', new_user_registration_path, class: 'button button--green' %>
    </div>
  </div>
</div>
