<div class="pane two-columns">
  <div>
    <h1>Your group</h1>
    <p>We need to know a bit about how you want your secret santa to operate.</p>
  </div>

  <%= render 'form', group: @group %>
</div>
