<div class="two-columns">
  <div>
    <%= image_tag '404.png', alt: 'A sad robot', srcset: { '404@2x.png' => '2x' } %>
  </div>

  <div>
    <div class="pane">
      <h1><%= @code %></h1>

      <p>
        <% if @code == '404' %>
          I can't find that right now.
        <% else %>
          This isn't working right now. I've notified my creators so they can take a look at it.
        <% end %>

        Wanna <%= link_to 'go home', root_url %>, instead?</p>
    </div>
  </div>
</div>
