@font-face {
  font-family: "Calibre";
  src: font-url("calibre-web-regular.woff") format("woff"),
    font-url("calibre-web-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: font-url("calibre-web-semibold.woff") format("woff"),
    font-url("calibre-web-semibold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
