//= require_self

@import "reset";
@import "colours";
@import "fonts";

@mixin mobile {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  align-items: center;
  background-color: $beige;
  color: $brown;
}

@import "type";
@import "form";

.header {
  color: $red;
  padding: 2rem;
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;

  @include mobile {
    flex-direction: column;
    padding: 1rem;
  }

  &-logo {
    display: block;
    color: $red;
    font-weight: bold;
    text-decoration: none;
    font-size: 32px;
    line-height: 1;

    &:hover {
      color: lighten($red, 10%);
    }
  }

  &-nav {
    margin-left: auto;
    display: flex;
    margin-top: 3px;

    &__link {
      display: block;
      margin-left: 1.5rem;
      font-size: 18px;
      line-height: 1;
    }

    @include mobile {
      margin-left: 0;
      margin-top: 0.5rem;

      &__link {
        margin-left: 1rem;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  max-width: 1024px;
  padding: 1rem 2rem 2rem;
  font-size: 18px;
  color: darken($beige, 55%);
  display: grid;
  grid-template-columns: 1fr 1fr;

  :last-child {
    text-align: right;
  }

  @include mobile {
    grid-template-columns: 1fr;

    > *,
    > :last-child {
      text-align: center;
    }

    > :first-child {
      grid-row: 2;
    }
  }
}

main {
  width: 100%;
  max-width: 1024px;
}

.pane {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;

  &--compact {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }

  &--beige {
    background-color: $beige;
  }

  &--pale-green {
    background-color: $pale-green;
    color: $green;
  }

  @include mobile {
    border-radius: 0;
    padding: 1rem;
  }
}

.two-columns {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1rem;

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.spaced-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: $red;

  &:hover {
    color: lighten($red, 10%);
  }
}

ol {
  margin-left: 1.5rem;

  li {
    padding-left: 0.5rem;
    margin-bottom: 0.25rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.section {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px lighten($brown, 60%) solid;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.alert {
  padding: 1rem;
  background-color: darken($beige, 10%);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;

  &--error {
    background-color: $red;
    color: #fff;
  }

  @include mobile {
    border-radius: 0;
  }
}

.devise-links {
  margin-top: 1rem;
  color: lighten($brown, 25%);
  font-size: 18px;
  line-height: 24px;
}

.highlight {
  position: relative;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0 0 3rem #fff, 0 0 0 calc(3rem + 2px) $brown;
}

.highlight-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
  backdrop-filter: blur(2px);
}

.landing {
  margin: 1rem 0;

  @include mobile {
    margin: 0;
  }

  &__image {
    @include mobile {
      grid-row: 2;
    }

    img {
      display: block;
      margin-bottom: 1rem;

      @include mobile {
        width: 50%;
        margin: 0 auto;
      }
    }
  }

  &__content {
    padding-top: 50px;
    position: relative;

    @include mobile {
      padding-top: 0;
    }

    > .pane {
      > p {
        margin-bottom: 1rem;
      }

      > .pane {
        margin-bottom: 2rem;
      }
    }

    &::before {
      content: " ";
      border-top: 25px transparent solid;
      border-right: 25px #fff solid;
      border-bottom: 25px transparent solid;
      position: absolute;
      top: 200px;
      left: -25px;
      width: 0;
      height: 0;

      @include mobile {
        border-top: 25px #fff solid;
        border-left: 25px transparent solid;
        border-right: 25px transparent solid;
        top: initial;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 32px);
      }
    }
  }
}
